@import './variables';
@import './navbar';
@import './quotes';
@import './profile';
@import './search';

html {
  background-color: $bg-gray;
}

.content {
  margin: 0 auto;
  position: relative;
  top: 52px;
}

.column {
  padding: 0;
}
