.navbar {
  background-color: white;
  padding: 10px 0;
}

.navbar_content, .navbar-logo {
  align-items: center;
  justify-content: space-between;
}

.navbar_content {
  width: 35%;
  margin: 0 auto;
}

.navbar-glass {
  width: 20px;
  background-color: #E8EAEC;
  cursor: pointer;
}
