.search-bar {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-form {
  background-color: $bg-gray;
  padding: 0 8px;
  border-radius: 2px;
  height: 25px;

  input {
    border: none;
    background: none;
  }

  .form-search {
    margin-right: 8px;
    width: 10px;
  }

  .form-close {
    fill: black;
    cursor: pointer;
  }
}

.search-bar_option {
  font-size: 12px;
  margin: 0 10px;

  &:first-of-type {
    margin-left: 0;
  }

  input {
    margin-right: 3px;
  }
}
